@model PassingdataFromControllerToView.Models.Product
@{
    // var products = ViewData["products"] as List<PassingdataFromControllerToView.Models.Product>;
        // var products=ViewBag.productsList;
}

<h2>@ViewBag.data</h2>
 @* <h2>@ViewData["data"]</h2> *@
@* <table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr> *@
   @*  @foreach(var item in products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    } *@
    @* <tr>
        <td>@Model.Id</td>
        <td>@Model.Id</td>
    </tr>
</table> 
 *@


